.parallax {
  position: relative;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Oversized background */
.parallax-bg {
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 160%; /* taller than container */
  background-image: url("/assets/img//header-bg.png");
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.parallax::after {
  content: "";
  position: absolute;
  inset: 0;
}

.parallax-content {
  position: relative;
  z-index: 2;
}
